body {
    background-color: green;
    font-family: 'Bai Jamjuree', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    padding: 2rem;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 2rem;
}

.cartao {
    width: calc(30% - 1rem);
    perspective: 1000px;
    cursor: pointer;
}

.cartao__conteudo {
    text-align: center;
    background-color: rgb(177, 0, 0);
    height: 15rem;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    position: relative;
    padding: 1rem;
}

.cartao__conteudo.active {
    transform: rotateY(180deg);
}

.cartao__conteudo__pergunta,
.cartao__conteudo__resposta {
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cartao__conteudo__resposta {
    transform: rotateY(180deg);
    background-color: rgb(150, 0, 0);
    color: white;
}

h3 {
    color: white;
    margin: 0.5rem;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
}
